@keyframes movingLeftBorder {
  0% {
    height: 100%; }
  90% {
    height: 0; }
  100% {
    height: 0; } }
@keyframes movingBottomBorder {
  0% {
    width: 100%; }
  90% {
    width: 0; }
  100% {
    width: 0; } }
.information {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1920px;
  margin: 175px auto 100px;
  font-family: 'ffdin'; }
  .information .information__biography {
    width: calc((100% - 10px)/2);
    height: 100%;
    padding: 30px 30px; }
    .information .information__biography .information__title {
      text-align: center;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: default;
      user-select: none; }
    .information .information__biography .information__about {
      margin-top: 40px;
      font-size: 20px; }
      .information .information__biography .information__about ul {
        list-style-type: square;
        margin: 20px auto;
        padding-left: 20px; }
  .information .information__biography:first-child {
    position: relative;
    margin-right: 10px; }
    .information .information__biography:first-child:after {
      content: '';
      position: absolute;
      top: 5%;
      right: -5px;
      width: 0;
      height: 90%;
      border-right: 1px solid #0d1017; }
  .information .information__biography:last-child {
    margin-left: 10px; }
  .information .border-left:before,
  .information .border-bottom:before,
  .information .border-right:before,
  .information .border-top:before {
    content: '';
    position: absolute;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .information .border-left:after,
  .information .border-bottom:after,
  .information .border-right:after,
  .information .border-top:after {
    content: '';
    position: absolute;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .information .border-left:before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 580px;
    border-left: 1px solid #0d1017;
    animation-name: movingLeftBorder; }
  .information .border-left:after {
    top: 0;
    left: 0;
    width: 0;
    height: 600px;
    border-left: 1px solid #0d1017;
    animation-name: movingLeftBorder;
    animation-direction: reverse; }
  .information .border-bottom:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #0d1017;
    animation-name: movingBottomBorder; }
  .information .border-bottom:after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #0d1017;
    animation-name: movingBottomBorder;
    animation-direction: reverse; }
  .information .border-right:before {
    bottom: 0;
    right: 0;
    width: 0;
    height: 580px;
    border-left: 1px solid #0d1017;
    animation-name: movingLeftBorder;
    animation-direction: reverse; }
  .information .border-right:after {
    top: 0;
    right: 0;
    width: 0;
    height: 600px;
    border-left: 1px solid #0d1017;
    animation-name: movingLeftBorder; }
  .information .border-top:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #0d1017;
    animation-name: movingBottomBorder;
    animation-direction: reverse; }
  .information .border-top:after {
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #0d1017;
    animation-name: movingBottomBorder; }
  .information:before, .information:after {
    content: '';
    position: absolute;
    top: -185px;
    height: 200px;
    width: 0;
    border-left: 6px dashed #0d1017;
    z-index: 1; }
  .information:before {
    left: calc((100% - 175px)/2);
    transform: rotate(40deg); }
  .information:after {
    left: calc((100% + 175px)/2);
    transform: rotate(140deg); }
  .information .animation__dashed {
    position: absolute;
    top: -172px;
    left: 0;
    width: 100%;
    height: 170px;
    background: white;
    z-index: 2; }

@media screen and (max-width: 768px) {
  .information {
    flex-direction: column; }
    .information:before {
      height: 150px;
      top: -165px;
      left: 50%;
      transform: rotate(0deg); }
    .information:after {
      display: none; }
    .information .information__biography {
      width: 100%;
      padding: 30px 5px; }
      .information .information__biography:after {
        display: none; }
      .information .information__biography .information__title {
        font-size: 20px; }
      .information .information__biography .information__about {
        font-size: 18px; } }
@media screen and (max-width: 425px) {
  .information {
    flex-direction: column; }
    .information:before {
      height: 150px;
      top: -165px;
      left: 50%;
      transform: rotate(0deg); }
    .information:after {
      display: none; }
    .information .information__biography {
      width: 100%;
      padding: 30px 5px; }
      .information .information__biography:after {
        display: none; }
      .information .information__biography .information__title {
        font-size: 16px; }
      .information .information__biography .information__about {
        font-size: 14px; } }

/*# sourceMappingURL=infomation.component.css.map */
