<div class="information">
  <div class="information__biography">
    <p class="information__title">Обо мне</p>
    <div class="information__about">
      Мне {{ birthday }} лет. Живу в г.Ганцевичи, Брестская область.
      <ul>
        <li>Образование: высшее</li>
        <li>Специальность: инженер-программист</li>
        <li>ВУЗ: Барановичский Государственный Университет (2009-2014)</li>
        <li>Уровень знания английского языка: Intermediate</li>
        <li>Военная служба (2015-2016)</li>
        <li>Есть водительское удостоверение</li>
        <li>Детей нет</li>
      </ul>
      Ответственен и исполнителен, готов к быстрому обучению и долгой работе.
      Характер не конфликтный. Постоянно совершенствую свои знания, слежу за последними изменениями в IT технологиях.
    </div>
  </div>
  <div class="information__biography">
    <p class="information__title">Мои навыки</p>
    <div class="information__about">
      Имею опыт работы и знания в следующих технологиях:
      <ul>
        <li>HTML5, CSS3</li>
        <li>Препроцессоры: SASS, SCSS, LESS</li>
        <li>JavaScript(ES6), TypeScript</li>
        <li>Фреймворки: Angular, Bootstrap</li>
        <li>Методологии: BEM, RSCSS</li>
        <li>Responsive and adaptive design</li>
        <li>Webpack</li>
      </ul>
      Также есть опыт работы с системой контроля версий git, настройка СУБД Oracle и MySql.
    </div>
  </div>
  <div class="border-left"></div>
  <div class="border-bottom"></div>
  <div class="border-right"></div>
  <div class="border-top"></div>
</div>
