<div class="information" id="about-me">
  <div class="animation__dashed wow fadeOutHide" data-wow-duration="4s"></div>
  <div class="information__biography">
    <p class="information__title wow fadeInUp" data-wow-duration="2s">Обо мне</p>
    <div class="information__about">
      <p class="wow fadeIn" data-wow-duration="2s">
        Мне {{ birthday }} лет. Живу в г.Ганцевичи, Брестская область.
      </p>
      <ul>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">Образование: высшее</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">Специальность: инженер-программист</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">ВУЗ: Барановичский Государственный Университет (2009-2014)</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">Уровень знания английского языка: Intermediate</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Военная служба (2015-2016)</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Есть водительское удостоверение</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Детей нет</li>
      </ul>
      <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
        Ответственен и исполнителен, готов к быстрому обучению и долгой работе.
        Характер не конфликтный. Постоянно совершенствую свои знания,
        слежу за последними изменениями в IT технологиях.
      </p>
    </div>
  </div>
  <div class="information__biography">
    <p class="information__title wow fadeInUp" data-wow-duration="2s">Мои навыки</p>
    <div class="information__about">
      <p class="wow fadeIn" data-wow-duration="2s">Имею опыт работы и знания в следующих технологиях:</p>
      <ul>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">HTML5, CSS3</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">Препроцессоры: SASS, SCSS, LESS</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">JavaScript(ES6), TypeScript</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">Фреймворки: Angular, Bootstrap</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Методологии: BEM, RSCSS</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Responsive and adaptive design</li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Webpack</li>
      </ul>
      <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
        Также есть опыт работы с системой контроля версий git, настройка СУБД Oracle и MySql.
      </p>
    </div>
  </div>
  <div class="border-left"></div>
  <div class="border-bottom"></div>
  <div class="border-right"></div>
  <div class="border-top"></div>
</div>
