.feedback {
  display: block;
  width: 100%;
  padding: 50px 22.5%;
  background: #0d1017;
  font-family: Roboto; }
  .feedback .feedback__image {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    transition: ease .5s;
    z-index: 100; }
    .feedback .feedback__image:hover {
      transform: rotate(360deg); }
  .feedback .feedback__ask {
    position: relative;
    display: block;
    margin-bottom: 50px;
    text-align: center;
    color: #798a96;
    font-size: 24px; }
    .feedback .feedback__ask:before {
      content: '';
      position: absolute;
      top: -95px;
      left: calc((100% - 72px)/2);
      width: 80px;
      height: 80px;
      background: url("../../../assets/img/svg2.svg"); }
  .feedback .feedback__form {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center; }
    .feedback .feedback__form .feedback__field-block {
      display: block;
      float: left;
      width: calc((100% - 10px)/2); }
    .feedback .feedback__form .feedback__field-block:first-child {
      margin-right: 10px; }
    .feedback .feedback__form label {
      display: block;
      margin-bottom: 10px;
      text-align: left;
      color: #798a96;
      font-size: 16px; }
    .feedback .feedback__form input {
      width: 100%;
      padding: 5px;
      background: #0d1017;
      border: 1px solid #798a96;
      font-weight: bold;
      color: white;
      font-family: "ffdin"; }
      .feedback .feedback__form input:hover {
        transition: 0.3s all;
        background: white;
        color: #0d1017; }
      .feedback .feedback__form input:not(:hover) {
        transition: 0.7s all; }
    .feedback .feedback__form textarea {
      width: 100%;
      height: 100px;
      padding: 5px;
      border: 1px solid #798a96;
      resize: none;
      background: #0d1017;
      font-weight: bold;
      color: white;
      font-family: 'ffdin'; }
      .feedback .feedback__form textarea:hover {
        transition: 0.3s all;
        background: white;
        color: #0d1017; }
      .feedback .feedback__form textarea:not(:hover) {
        transition: 0.7s all; }
    .feedback .feedback__form .feedback__send {
      position: relative;
      display: inline-block;
      width: 170px;
      padding: 10px 0 12px;
      margin-top: 10px;
      cursor: pointer;
      color: #798a96;
      border-right: 1px solid #798a96;
      border-left: 1px solid #798a96; }
      .feedback .feedback__form .feedback__send:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 0;
        border-top: 1px solid #798a96;
        transition: .5s all; }
      .feedback .feedback__form .feedback__send:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 115px;
        height: 0;
        border-top: 1px solid #798a96;
        transition: .5s all; }
      .feedback .feedback__form .feedback__send div {
        position: absolute;
        height: 0;
        transition: .5s all; }
      .feedback .feedback__form .feedback__send div:first-child {
        top: 0;
        left: 0;
        width: 115px;
        border-top: 1px solid #798a96; }
      .feedback .feedback__form .feedback__send div:last-child {
        top: 0;
        right: 0;
        width: 40px;
        border-top: 1px solid #798a96; }
      .feedback .feedback__form .feedback__send:hover:before,
      .feedback .feedback__form .feedback__send:hover div:last-child {
        transition: .5s all;
        width: 115px; }
      .feedback .feedback__form .feedback__send:hover:after,
      .feedback .feedback__form .feedback__send:hover div:first-child {
        transition: .5s all;
        width: 40px; }
  .feedback .feedback__error-message {
    margin: 5px 0 10px 0;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    color: red;
    font-size: 14px;
    transition: 0.3s all; }
  .feedback .error {
    opacity: 1;
    visibility: visible;
    transition: 0.3s all; }
  .feedback .error-border {
    box-shadow: 0 0 15px red;
    border: 1px solid red !important; }
  .feedback .success-border {
    box-shadow: 0 0 15px green;
    border: 1px solid green !important; }
  .feedback .send-denied {
    border-right: 1px solid red !important;
    border-left: 1px solid red !important; }
    .feedback .send-denied:before, .feedback .send-denied:after,
    .feedback .send-denied div {
      border-top: 1px solid red !important; }
  .feedback .send-availed {
    border-right: 1px solid green !important;
    border-left: 1px solid green !important; }
    .feedback .send-availed:before, .feedback .send-availed:after,
    .feedback .send-availed div {
      border-top: 1px solid green !important; }
  .feedback .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
               supported by Chrome and Opera */ }

@media screen and (max-width: 1440px) {
  .feedback {
    padding: 50px 14%; } }
@media screen and (max-width: 768px) {
  .feedback {
    padding: 50px 10%; }
    .feedback .feedback__image {
      width: 70px;
      height: 70px; }
    .feedback .feedback__ask {
      margin-bottom: 30px;
      font-size: 20px; }
      .feedback .feedback__ask:before {
        top: -85px;
        left: calc((100% - 62px)/2);
        width: 70px;
        height: 70px; }
    .feedback .feedback__form .feedback__field-block {
      width: 100%; } }
@media screen and (max-width: 425px) {
  .feedback {
    padding: 50px 15px; }
    .feedback .feedback__image {
      width: 60px;
      height: 60px; }
    .feedback .feedback__ask {
      margin-bottom: 30px;
      font-size: 18px; }
      .feedback .feedback__ask:before {
        top: -75px;
        left: calc((100% - 55px)/2);
        width: 60px;
        height: 60px; }
    .feedback .feedback__form .feedback__field-block {
      width: 100%; } }

/*# sourceMappingURL=feedback.component.css.map */
