<div class="work-exp" id="work-exp">
  <p class="work-exp__title">Выполняемые мною работы в качестве фриланс разработчика</p>
  <img class="work-exp__photo wow zoomInRight" src="../../../assets/img/freelance.jpg" alt="photo">
  <ul class="work-exp__list">
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">Верстка информационных сайтов, интернет-каталогов, landing-page по макетам и прототипам.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">Наполнение сайтов контентом.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">Сопровождение, внесение изменений и разработка дополнительных модулей на сайтах по требованию заказчика.</li>
  </ul>
  <p class="work-exp__severance wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">При разработке сайтов мною используются знания следующих технологий:</p>
  <ul class="work-exp__list">
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Язык гипертекстовой разметки HTML5 и каскадная таблица стилей CSS3.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Нарезка макетов средствами Adobe Photoshop, разработка проектов кодовым редактором Brackets и WebStorm, используя набор сниппетов Emmet.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Семантическая, валидная, адаптивная и отзывчивая верстка сайтов, а также табличная верстка.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Работа со спрайтами, CSS-анимации, CSS-фреймворк Bootstrap 3, система контроля версий Git при работе с Github, препроцессор SASS и инструмент сборки модулей webpack, CSS методология БЭМ и RSCSS.</li>
    <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Использование языка программирования Javascript, фреймворк для разработки single page application Angular 4, а также разработка модулей проектов при помощи технологии Ajax и библиотеки jQuery.</li>
  </ul>
</div>
